[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"b734c24" = {path = "/Users/jj/code/private/aiorm", editable = true}
pyyaml = "*"
aiohttp = "*"
requests = "*"
"jinja2" = "*"
click = "*"

[dev-packages]
pytest-asyncio = "*"

[requires]
python_version = "3.6"
