[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"b734c24" = {path = "/Users/jj/code/private/aiorm", editable = true}

[dev-packages]

[requires]
python_version = "3.6"
